@import url("./reset.css");

/* header */
.mainHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
/* ==가상클래스_JS== */
.mainHeader.fixed {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
}
.mainHeader.fixed .progressWrap {
  display: block;
}
.mainHeader.fixed .headerWrap h1 {
  color: #000;
}

.headerWrap {
  position: relative;
  padding: 10px 20px;
}
.headerWrap h1 {
  font-size: 15px;
  color: #fff;
}
.progressWrap {
  position: relative;
  width: 100%;
  height: 2px;
  background: #d0d0d0;
  display: none;
}
.bar {
  /* position: absolute; */
  width: 0%;
  height: 100%;
  background: rgb(0, 2, 145);
  transition: all 0.4s;
}

/* cover */
.coverWrap {
  /* 포지션 fixed는 아래로 깔린다고 생각해야한다. */
  position: fixed;
  top: 0;
  width: 100%;
  /* JS로 줌 */
  /* height: 800px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./ponyo038.jpg") center/cover no-repeat;
  /*center = posistion  */
}
.dimd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.coverTitle {
  /* Js, 위치파악 하기 위해 relative */
  position: relative;
  text-align: center;
  z-index: 10;
}
.coverTitle h1 {
  color: #fff;
}
.coverTitle p {
  color: #cecece;
}

/* content */
.contentWrap {
  position: relative;
  background: #fff;
  z-index: 10;
}
.contentInnerWrap {
  width: 700px;
  margin: 0 auto;
  padding: 30px;
}
.contentInnerWrap h4 {
  font-size: 20px;
  margin: 20px 0 10px;
}
