// font

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  height: 91px;
}

/* custom  */
//brand
.brand {
  width: 100%;
  height: 510px;
  background: url(./img/sv_1.png) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .br-content {
    color: #fff;
    text-align: center;
    h1 {
      font-size: 2.8rem;
      margin-bottom: 19px;
    }
    p {
      font-size: 1.12rem;
    }
  }
}
//sub-nav
.sub-nav {
  width: 100%;
  height: 67px;
  border-bottom: 2px solid #ddd;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    li {
      padding: 20px 40px;
      font-size: 1.12rem;
      color: #333;
    }
  }
}
.active {
  color: #780997;
  border-bottom: 3px solid #780997;
}

// content-text
.content-text {
  width: 100%;
  height: 336px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  div {
    h1 {
      color: #222;
      font-size: 2.62rem;
      margin-bottom: 30px;
      span {
        color: #780997;
      }
    }
    div {
      font-size: 1rem;
      color: #666;
      p {
        margin-bottom: 8px;
      }
    }
  }
}
//vision
.vision {
  width: 100%;
  height: 567px;
  background: url(./img/intro_bg.png) center/cover no-repeat;
  display: flex;
  justify-content: start;
  align-items: center;
  .vi-content {
    border: 1px solid #f00;
    color: #fff;
  }
}
